#user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 160px;
  width: 30%;
  height: 400px;
  font-size: 1.5em;
  color: white;
  background-color: #d3a211;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  float: left;
}
