/* CSS for tablet layout */
@media screen and (max-width: 1024px) {
  /* Hide the header in desktop layout */
  #user-info {
    float: none;
    display: none;
  }

  /* Put the main container in center */
  main {
    float: none;
    width: 90%;
    padding: 0 5%;
    margin-top: 540px;
  }

  /* Change the navigation bar background */
  nav {
    background-color: #d3a211;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    height: 500px;
  }
}

/* CSS for desktop layout */
@media screen and (min-width: 1024px) {
  /* Hide the header in tablet mode */
  .user-info-nav {
    display: none;
  }
}